
.ipad-pro-only {
    display: none !important;
}

.hire-expert a {

    color: #FF6B00;
    font-weight: bold;
}

.resume-section {
    margin-top: 35px;
    margin-bottom: 35px;
    font-size: 26px;
    line-height: 45px;
    color: #fff;

}

.expert-resume-section {
    margin: 0 auto;
}

.expert-resume-section a {
    color: #434343;
}

.expert-resume-container {
    background: #FF6B00;
    padding: 40px;
}

.career-join-bg {
    background-image: url(/images/careers/career-polygon.svg);
    background-color: #fff;
    background-repeat: no-repeat;
    min-height: 1070px;
    background-size: cover;
}

#careers-main .address-icons {
    width: 26px !important;
}

#careers-main .hashtag-underline {
    border: 2px solid #FF6B00;
    width: 40px;
    margin-left: 0 !important;
}

/* media queries */
@media screen and (min-width: 360px) and (-webkit-device-pixel-ratio: 3) {
    body #careers-main .main-title {
        font-size: 44px !important;
    }
}

@media (max-width: 280px) {
    .first-career-row .text-level-5 {
        font-size: 23px;
    }

    #careers-main .service-bg {
        height: 480px !important;
    }

    #careers-main .service-bg-right {
        height: 490px !important;
    }

    #careers-main .service-banner-frame {
        height: 480px !important;
    }

    body #careers-main .main-title {
        font-size: 31px !important;
    }
}

@media screen and (device-aspect-ratio: 40/71) {

    .first-career-row .text-level-5 {
        font-size: 28px;
    }

    body #careers-main .main-title {
        font-size: 37px !important;
    }
}

@media (max-width: 767px) {
    #careers-main .title-level-mobile {
        font-size: 14px !important;
    }

    #careers-main .main-title {
        font-size: 46px !important;
    }


    #careers-main .second-row,
    #careers-main .third-row {
        margin-top: unset !important;
    }

    #careers-main .what-we-do-border-style {
        min-height: 272px;
        height: unset;

    }

    .career-join-bg {
        background-color: #f2f2f2 !important;
        background-image: unset !important;
        margin-top: 50px;
        min-height: 550px;
    }

    .join-team-title-row {
        position: relative;
        top: 50px;
    }

    #careers-main .service-bg {
        height: 400px;
    }

    #careers-main .service-bg-right {
        height: 410px;
    }

    #careers-main .service-banner-frame {
        height: 415px;
    }
}


@media (min-width: 768px) {
    #careers-main .what-we-do-responsive .text-level-5 {
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
    }

    #careers-main .container .what-we-do-border-style {
        height: unset !important;
        min-height: 226px;
    }

    .first-career-row {
        margin-top: 230px !important;
    }

    .join-team-title-row {
        position: relative;
        top: 205px;
    }

    .career-join-bg {
        margin-top: 0px;
    }
}

/*@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { .career-join-bg
{
        background:unset !important;}}*/


@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {
    .career-join-bg {
        background-color: #f2f2f2 !important;
        background-image: unset !important;
        margin-top: 0 !important;
        min-height: 550px;
    }

    .join-team-title-row {
        position: relative;
        top: 50px;
    }

    .first-career-row {
        margin-top: 80px !important;
    }

    #careers-main .container .what-we-do-border-style {
        height: unset !important;
        min-height: 264px;
    }

    #careers-main .second-row,
    #careers-main .third-row {
        margin-top: unset !important;
    }
}

@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {
    .career-join-bg {
        min-height: 950px;
    }

    .first-career-row {
        margin-top: 304px !important;
    }

    .join-team-title-row {
        position: relative;
        top: 290px;
    }

    .career-join-bg {
        margin-top: 0px;
    }

    #careers-main .container .what-we-do-border-style {
        height: unset !important;
        min-height: 264px;
    }

}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
    .ipad-pro-only {
        display: block !important;
    }

    .ipad-pro-none {
        display: none !important;
    }


    .career-join-bg {
        margin-top: 95px !important;
        min-height: 550px;
    }

    #careers-main .container .what-we-do-border-style {
        height: unset !important;
        min-height: 264px;
    }

    #careers-main .second-row,
    #careers-main .third-row {
        margin-top: 3rem !important;
    }
}



@media screen and (max-width: 1680px) {
    #careers-main .why-us-box {
        height: 250px;
    }
}

@media (min-width: 1900px) {
    #careers-main .why-us-box {
        height: 330px !important;
        width: unset !important;
        padding: 60px 30px !important;
    }

    #careers-main .what-we-do-responsive .text-level-5 {
        font-style: normal;
        font-weight: bold;
        font-size: 31px;
    }

    .career-internship-float {
        float: right;
    }

    #careers-main .container .what-we-do-border-style {
        height: unset !important;
    }

    .career-join-bg {
        min-height: 1200px;
    }
}


@media (min-width: 2500px) {
    #careers-main .why-us-box {
        height: 330px !important;
        width: unset !important;
        padding: 60px 30px !important;
    }

    .career-join-bg {
        min-height: 1475px;
    }

    .first-career-row {
        margin-top: 400px !important;
    }

    .join-team-title-row {
        position: relative;
        top: 308px;
    }
}
.hashtag-careers-vacancies {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.05em !important;
    color: #7F8284 !important;
    padding-top: 20px;
}
.hashtag-underline-new {
    border: 2px solid #FF6B00 !important;
    width: 40px !important;
    opacity: 1 !important;
    background: #FF6B00;
}
.vacancy-section-image{
    height:160px !important;
   padding-left: 60px !important;
}


@media (max-width: 767px){
    .career-join-bg {
        background-color: #f2f2f2 !important;
        background-image: unset !important;
        margin-top: 50px !important;
        min-height: 550px !important;
    }
    .mob-padding {
        padding: unset !important;
    }
    .row.mt-5.section-2-row.pl-3.pr-3.first-career-row.justify-content-center {
        margin-top: 50px !important;
    }
    
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){
    .row.mt-5.section-2-row.pl-3.pr-3.first-career-row.justify-content-center {
        margin-top: 50px !important;
    }
    
}



.what-we-do-border-style {
    background: #FFFFFF;
    border: 2px solid #E4E4E4;
    box-sizing: border-box;
    padding: 36px 32px;
    height: 420px;
    border-bottom: 4px solid #FF6B00;
}