.blog-nav{
  display: flex;
  justify-content: space-between;
}
.blog-nav a{
  display: inline-block;
  font-size: 16px;
  color: #fff;
  width: 100px;
  text-align: center;
  background: #FF6B00;
  padding: 5px 0;
  text-decoration: none;
  border-radius: 8px;
}
.blog-nav a i{
  display: inline-block;
  font-size: 17px;
}
.blog-nav a.prev i{
  margin-right: 7px;
}
.blog-nav a.next i{
  margin-left: 7px;
}
.blog-meta{
  width: 100%;
}
.blog-meta ul{
  width: 100%;
  list-style: none;
}
.blog-meta ul li{
  display: inline-block;
  margin-right: 15px;
}
.blog-meta ul li i{
  color: #FF6B00;
  padding-right: 5px;
}
.single-blog-main .blog-list .card:first-child .card-body p{
  -webkit-box-orient: inherit;
  -webkit-line-clamp: none;
}
.single-blog-main .blog-list .card:first-child{
  margin-bottom: 10px;
}

.breadcrumbs{
  display: flex;
  width: 100%;
  list-style: none;
  margin: 0;
}
.breadcrumbs li{
  display: inline-block;
  color: #fff !important;
  padding-left: 30px;
  position: relative;
  font-weight: 600;
  font-size: 18px;
}
.breadcrumbs li:before{
  position: absolute;
  content: "\f105";
  left: 15px;
  top: 0;
  font-family: fontAwesome;
}
.breadcrumbs li a{
  text-decoration: none;
  color: #fff;
}
.breadcrumbs li:first-child{
  padding-left: 0px;
}
.breadcrumbs li:first-child:before{
  display: none;
}


/*------------- Blog detail typography ---------------*/
.blog-detail-page{
  width: 100%;
  overflow: hidden;
}
.blog-detail-page h2,
.blog-detail-page h3,
.blog-detail-page h4,
.blog-detail-page h5,
.blog-detail-page h6,
.blog-detail-page p,
.blog-detail-page a,
.blog-detail-page span,
.blog-detail-page ul,
.blog-detail-page ul li,
.blog-detail-page ol,
.blog-detail-page ol, li{
  font-family: Montserrat !important;
  color: #434343 !important;
}
.blog-detail-page h2,
.blog-detail-page h3,
.blog-detail-page h4,
.blog-detail-page h5,
.blog-detail-page h6{
  margin-bottom: 15px !important
}
.blog-detail-page h2{
  font-size: 36px !important;
  line-height: 38px !important;
}
.blog-detail-page h3{
  font-size: 32px !important;
  line-height: 34px !important;
}
.blog-detail-page h4{
  font-size: 28px !important;
  line-height: 30px !important;
}
.blog-detail-page h5{
  font-size: 24px !important;
  line-height: 26px !important;
}
.blog-detail-page h6{
  font-size: 20px !important;
  line-height: 22px !important;
}
.blog-detail-page a,
.blog-detail-page code{
  color: #FF6B00 !important;
}
.blog-detail-page a:hover,
.blog-detail-page a:focus{
  color: #F28D43 !important;
  text-decoration: none !important;
}
.blog-detail-page p{
  font-size: 17px !important;
  line-height: 30px !important;
  margin: 0 0 15px !important;
}
.blog-detail-page span{
  font-size: inherit !important;
}
.blog-detail-page ul,
.blog-detail-page ol{
  margin-bottom: 30px !important;
}
.blog-detail-page ul li,
.blog-detail-page ol li{
  font-size: 17px !important;
  line-height: 30px !important;
  margin-left: 20px !important;
}
.blog-detail-page img{
  display: block;
  margin: 20px 0 !important;
}

.blog-detail-page blockquote{
  font-weight: 700;
  padding: 0 20px;
  position: relative;
}
.blog-detail-page blockquote {
  background: #f9f9f9;
  border-left: 10px solid #FF6B00;
  margin: 15px 0;
  padding: 20px;
  quotes: "\201C""\201D""\2018""\2019";
}
.blog-detail-page blockquote:before {
  color: #FF6B00;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 10px;
  vertical-align: -0.4em;
}
.blog-detail-page blockquote {
  display: block;
  color: #434343;
  font-weight: 600;
}


/*------------- Blog detail typography ---------------*/



@media(max-width: 767px) {
  .blog-nav{margin-bottom: 45px;}
  .breadcrumbs li{font-size: 16px;}

  
  .single-blog-main .service-bg{height: 345px;}
  .single-blog-main .service-bg .service-bg-right{height: 345px;}
  .single-blog-main .service-bg .service-banner-frame{height: 350px;}
  .service-bg .service-banner-frame .service-banner-content{padding-top: 55px;}
}