#Uidevbanner .section-2-row .title-black {
    color: #434343 !important;
}

#Uidevbanner .what-we-do-border-style {
    height: 375px;
}

#Uidevbanner .text-above-main-title-c {
    text-transform: uppercase;
}

#Uidevbanner .main-title-sub-bc {
    font-size: 50px;
}

#Uidevbanner .ready-to-get-sec {
    background-image: url(/images/wordpress/wp-slider.svg);
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
}

.top-index {
    width: 100%;
    position: relative;
    z-index: 9;
}

.bg-white {
    background: #fff;
}

@media only screen and (min-width: 2500px) {
    #Uidevbanner .what-we-do-border-style {
        height: 305px;
    }

    #Uidevbanner .shopify-banner-content {
        padding-top: 70px !important;
    }

    #Uidevbanner .main-title-sub-bc {
        font-size: 90px;
    }

}

@media only screen and (max-width: 2499px) and (min-width: 2000px) {
    #Uidevbanner .what-we-do-border-style {
        height: 345px !important;
    }
}

@media only screen and (max-width: 2500px) and (min-width: 1921px) {
    #Uidevbanner .shopify-banner-frame {
        height: 550px !important;
    }

    #Uidevbanner .shopify-bg {
        height: 490px;
    }

    #Uidevbanner .shopify-banner-content {
        padding-top: 75px !important;
    }
}

@media only screen and (device-aspect-ratio: 1920/1080) {
    #Uidevbanner .shopify-banner-content {
        padding-top: 59px;
    }
}

@media only screen and (max-width: 1999px) and (min-width: 1900px) {
    #Uidevbanner .what-we-do-border-style {
        height: 345px;
    }

    #Uidevbanner .why-bc-sec-tt {
        font-size: 81px;
    }
}

@media (min-width: 1900px) {
    #Uidevbanner .main-title-sub-bc {
        font-size: 78px;
    }
}

@media only screen and (max-width: 1499px) and (min-width: 1280px) {
    #Uidevbanner .what-we-do-border-style {
        height: 395px;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (max-height: 1024px) and (min-width: 768px) and (orientation: portrait) {
    #Uidevbanner .what-we-do-border-style {
        height: 445px;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 1024px) {
    #Uidevbanner .sc-ip-pro .col-lg-3 {
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 45px;
    }

    #Uidevbanner .what-we-do-border-style {
        height: 480px;
    }

    /* #Dnpbanner .sc-ip-pro-mt{  
        margin-top: 0px !important;
    } */
    #Uidevbanner .shopify-banner-content {
        padding-top: 70px;
    }

    #Uidevbanner .why-bc-sec-tt {
        font-size: 48px;
    }
}

/* kindle Fire HDX*/
@media only screen and (max-width: 991px) and (min-width: 800px) {
    #Uidevbanner .shopify-banner-content {
        padding-top: 45px;
    }

    #Uidevbanner .what-we-do-border-style {
        height: 420px !important;
    }
}

@media screen and (min-width: 769px) {
    #Uidevbanner .dp-on-sm {
        display: none;
    }

    #Uidevbanner .hd-on-sm {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    #Uidevbanner .shopify-banner-content {
        padding-top: 45px;
    }

    #Uidevbanner .shopify-bg {
        height: 460px;
    }

    #Uidevbanner .shopify-banner-frame {
        height: 463px;
    }

    #Uidevbanner .main-title-bc-sec-h {
        font-size: 50px;
    }

    #Uidevbanner .sc-ip-pro-mt {
        margin-top: 0px !important;
    }

    #Uidevbanner .main-title-sub-bc {
        font-size: 46px;
    }

    #Uidevbanner .dp-on-sm {
        display: block;
    }

    #Uidevbanner .hd-on-sm {
        display: none;
    }

}

@media (max-width: 767px) {
    #Uidevbanner .main-title-sub-bc {
        font-size: 40px;
    }
}

@media (min-width: 1024px) {
    #Uidevbanner .sc-ip-pro .col-lg-4 {
        margin-bottom: 45px;
    }

    #Uidevbanner .ui-dev-ico .col-lg-2 {
        flex: 0 0 11.666667%;
        max-width: 11.666667%;
    }
}

@media only screen and (max-width: 600px) and (min-width: 540px) {
    #Uidevbanner .what-we-do-border-style {
        height: 325px;
    }

    #Uidevbanner .main-title-bc-sec-h {
        font-size: 36px !important;
    }

    #Uidevbanner .shopify-bg {
        height: 500px;
    }

    #Uidevbanner .shopify-banner-frame {
        height: 502px;
    }

    #Uidevbanner .main-title-sub-bc {
        font-size: 33px;
    }
}

@media screen and (max-width: 479px) {
    #Uidevbanner .shopify-banner-content {
        padding-top: 40px;
    }

    #Uidevbanner .what-we-do-border-style {
        height: 420px;
    }

    #Uidevbanner .shopify-banner-frame {
        height: 520px;
    }

    #Uidevbanner .shopify-bg {
        height: 518px;
    }
}

@media (max-width: 375px) {
    #Uidevbanner .what-we-do-border-style.what-we-do-border-style {
        height: 430px;
    }

    #Uidevbanner .main-title-bc-sec-h {
        font-size: 36px !important;
    }

    #Uidevbanner .main-title-sub-bc {
        font-size: 33px;
    }
}

@media screen and (max-width: 320px) {
    #Uidevbanner .shopify-banner-frame {
        height: 535px;
    }

    #Uidevbanner .shopify-bg {
        height: 530px;
    }

    #Uidevbanner .what-we-do-border-style.what-we-do-border-style {
        height: 500px;
    }
}

@media (max-width: 280px) {
    #Uidevbanner .main-title {
        font-size: 32px !important;
    }

    #Uidevbanner .shopify-banner-frame {
        height: 593px !important;
    }

    #Uidevbanner .shopify-bg {
        height: 590px !important;
    }
}

#Uidevbanner .why-choose-bc-sec {
    background-image: url('/images/blockchain/Vector.svg');
    background-repeat: no-repeat;
    background-position: top left;
    padding: 100px 15px;
}

#Uidevbanner .why-choose-bc-sec-btn button:first-child {
    background: #fff;
    color: #434343 !important;
}

#Uidevbanner .why-choose-bc-sec-btn button:nth-child(2) {
    background: #FF6B00 !important;
}

#Uidevbanner .why-choose-bc-sec-btn .form-btn-arrowbc-sec {
    border: solid #FFFFFF;
    border-width: 0 3px 3px 0;
}

#Uidevbanner .shopify-sec-3-content {
    margin-top: 70px;
}