/*  media query */

@media (min-width: 2800px) {
    #shopify-main .shopify-section-4 {
        min-height: 1536px !important;

    }

    #shopify-main .content-four-section {

        margin-top: 600px !important;
        
    }

    .shopify-banner-content {
        padding-top: 132px !important;
    }


    .shopify-section-3 {
        background-image: url(/images/shopify/slider-bg.svg);
        min-height: 1000px;

    }

    .shopify-sec-3-content {
        margin-top: 200px;
    }

    #shopify-main .react-3d-carousel .slider-container .slider-left {
        right: 77% !important;
    }

    #shopify-main .react-3d-carousel .slider-container .slider-right {
        left: 77% !important;
    }

}

@media (min-width: 2500px) {

    .shopify-main .react-3d-carousel .slider-container .slider-left {
        right: 80% !important;
    }


    .shopify-main .react-3d-carousel .slider-container .slider-right {
        left: 80% !important;
    }
}



@media(min-width: 1920px) {
    .shopify-sub-title {

        font-size: 24px !important;
    }

    .shopify-section-4 {
        min-height: 1021px;
        

    }

    .shopify-section-4 .content-four-section {

        margin-top: 312px !important;
    }
   
    .shopify-main-title {
        font-family: Montserrat;
font-display: swap;
        font-style: normal;
        font-weight: bold;

        line-height: 70px;
        letter-spacing: -0.05em;
    }

    .shopify-text-above-main-title {
        font-size: 18px !important;
    }

    .react-3d-carousel .slider-container .slider-left {
        right: 91% !important;
    }

    .react-3d-carousel .slider-container .slider-right {
        left: 89% !important;
    }

    .react-3d-carousel {
        padding-bottom: 750px;
    }

}


@media screen and (min-width: 1600px) {
    .react-3d-carousel {
        padding-bottom: 750px;
    }

    #shopify-main .content-four-section {
        /* margin-top: 270px; */
    }
}

@media only screen and (min-width:1599px) and (max-width:1601px) {

    #shopify-main .content-four-section {
        margin-top: 270px !important;
    }
}





/* (1680x1050) WSXGA+ Display */
@media screen and (max-width: 1680px) {
    .shopify-section-4 {

        min-height: 897px;
    }

    .content-four-section .content-four-section {
        margin-top: 270px !important;
    }


}


@media screen and (max-width:1024) {
    .content-four-section .text-above-main-title .shopify-title{
       
    }
    
}

@media only screen and (min-width:1679px) and (max-width:1699px) {
    #shopify-main .shopify-section-4 .content-four-section {
        margin-top: 270px;
    }

    .react-3d-carousel {
        padding-bottom: 800px;
    }

}





/* (1440x900) WXGA+ Display */
@media screen and (max-width: 1440px) {
    .shopify-section-4 {

        min-height: 770px;
    }


}

/* (1366x768) WXGA Display */
@media screen and (max-width: 1366px) {
    .shopify-section-4 {

        min-height: 729px !important;
    }

}



@media(max-width: 1022px) {
    .shopify-title {
        font-family: Montserrat;
font-display: swap;
        font-style: normal;
        font-weight: bold;

        line-height: 100%;
        /* or 48px */
        color: #FF6B00;
    }

    .shopify-sub-title {
        font-family: Montserrat;
font-display: swap;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: -0.05em;

        color: #434343;
    }

}

@media(min-width: 768px) {
    #shopify-main .content-four-section {

        /* margin-top: 152px !important; */
    }


    .react-3d-carousel {
        height: 670px !important;
    }
}


@media(max-width: 767px) {


    .shopify-main .shopify-section-3 {
        min-height: 800px !important;
    }

    .shopify-title {
        font-family: Montserrat;
font-display: swap;
        font-style: normal;
        font-weight: bold;
        line-height: 100%;
        /* or 48px */
        color: #FF6B00;
    }

    .shopify-sub-title {
        font-family: Montserrat;
font-display: swap;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 29px;
        letter-spacing: -0.05em;

        color: #434343;
    }

    /*style added by Ninitha 04/09/2020 */
    .shopify-banner-frame {
        height: 539px;
    }

    .shopify-section-4 {
        background: #f56a27;
        min-height: 520px !important;
    }

    .react-3d-carousel {
        height: unset !important;
    }

    .shopify-section-4 {
        margin-top: -285px;
    }

    .react-3d-carousel .slider-container .slider-content .slider-single .slider-single-content {
        display: block !important;
    }

    .react-3d-carousel .slider-container .slider-left div {
        border-radius: 0 !important;
        padding: 0px 5px !important;
    }

    .react-3d-carousel .slider-container .slider-right div {
        border-radius: 0 !important;
        padding: 0px 5px !important;
    }

    .react-3d-carousel .slider-container .slider-left {
        right: 91% !important;
    }

    .react-3d-carousel .slider-container .slider-right {
        left: 94% !important;
    }

    .react-3d-carousel .slider-container .slider-left {
        top: 20px;
    }

    .react-3d-carousel .slider-container .slider-right {
        top: 20px;
    }

    .shopify-benifits-section {
        margin-top: 40px;
    }

    .storefront-img {
        margin-top: 40px;
    }

    .shopify-section-4 {
        padding: unset;
    }

    .shopify-main .react-3d-carousel {
        margin-bottom: 50px !important;

    }
}

@media(max-width: 767px) {
    .shopify-banner-content {
        padding-top: 50px;
    }

    .main-title {
        line-height: 54px !important;
    }
}

@media(max-width: 479px) {
    .shopify-title {
        font-family: Montserrat;
font-display: swap;
        font-style: normal;
        font-weight: bold;
        line-height: 100%;
        /* or 48px */
        color: #FF6B00;
    }

    .shopify-sub-title {
        font-family: Montserrat;
font-display: swap;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 29px;
        letter-spacing: -0.05em;

        color: #434343;
    }

    .shopify-banner-content {
        padding-top: 50px;
    }

    /* style added by Ninitha 04/09/2020 */
    .shopify-bg {
        height: 529px;
    }

    .shopify-banner-frame {
        height: 539px;
    }
}

@media(max-width: 319px) {
    .shopify-title {
        font-family: Montserrat;
font-display: swap;
        font-style: normal;
        font-weight: bold;

        line-height: 100%;
        /* or 48px */
        color: #FF6B00;
    }

    .shopify-sub-title {
        font-family: Montserrat;
font-display: swap;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 29px;
        letter-spacing: -0.05em;

        color: #434343;
    }

    .shopify-banner-content {
        padding-top: 50px;
    }

}

@media(max-width: 280px) {

    .shopify-section-4 {
        margin-top: -339px;
    }
}

/*styles by Abbas 17-8-20*/
@media only screen and (min-width:1441px) and (max-width:1920px) {
    .shopify-content-box {
        font-size: 20px !important;
    }
}
@media(min-width:2560px) and (max-width:2880px){
    .shopify-banner-frame{
        height: 550px !important;
    }
}
@media only screen and (min-width:1921px) and (max-width:2499px) {
    .shopify-content-box {
        font-size: 30px !important;
    }

    .shopify-banner-frame {
        height: 570px !important;
    }

    .shopify-banner-content {
        padding-top: 140px !important;
    }
}

@media (min-width:2500px) {
    .shopify-content-box {
        font-size: 40px !important;
    }

    .shopify-bg {
        height: 614px;
    }

    .shopify-bg-right {
        height: 614px;
    }

    .shopify-banner-frame {
        height: 619px;
    }

    .shopify-banner-content {
        padding-top: 150px !important;
    }

    .shopify-section-4 {
        min-height: 1368px !important;
    }

    .shopify-section-4 .content-four-section {
        margin-top: 512px !important;
    }

    .shopify-main-title {

        font-size: 106px !important;
    }
}




/*new media queries 09/15 */




@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {



    #shopify-main .shopify-section-4 {
        background: url(/images/shopify/shopify-why-us-with-bg.svg) !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        min-height: 547px !important;
    }

    #shopify-main .hash-content-col {
        font-size: 15px;
    }

    #shopify-main .content-four-section {
        margin-top: 108px !important;
    }

    .shopify-main .shopify-banner-content {
        padding-top: 70px !important;
    }

    .shopify-title .main-title {
        font-size: 55px;
        line-height: 37px;
    }

}




@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {

    /*.react-3d-carousel {
    margin-top: -150px;
}*/
    .react-3d-carousel {
        height: 530px !important;
    }

    .shopify-section-4-main {
        margin-top: -100px;
      
    }

    .padding-letus {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .shopify-main .storefront-img {
        margin-top: 30px;
        width: 60%
    }

    .shopify-main .shopify-section-4 {
        background: #f56a27 !important;
    }

    .shopify-main .shopify-section-4 {
        min-height: 450px !important;
    }

    .shopify-main .content-four-section {
        margin-top: 38px !important;
    }

    .shopify-benifits-section .text-above-main-title {
        margin-top: 30px;
    }

    .shopify-main .shopify-banner-content {
        padding-top: 70px;
        align-items: center;
    }



}

@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {
    .react-3d-carousel {
        height: 540px !important;
    }

    .shopify-main .shopify-section-4 {
        min-height: 557px !important;

    }

    .shopify-main .shopify-section-4 .hash-content-col {
        font-size: 18px;
    }


    #shopify-main .content-four-section {
        margin-top: 95px !important;
        padding-top: 130px !important;
        padding-bottom: 130px !important;
      

    }

    .shopify-title .main-title {
        font-size: 55px;
        line-height: 37px;
    }


}

@media only screen and (min-width: 1024px) and (max-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .react-3d-carousel {
        height: 590px !important;
    }
}



@media screen and (device-aspect-ratio: 40/71) {

    .shopify-main .shopify-banner-content {
        padding-top: 45px !important;
    }
}

@media (max-width: 280px) {
    .shopify-main .shopify-banner-content {
        padding-top: 38px !important;
    }

    .shopify-section-4 .contact-form-link {
        margin-bottom: 20px;
    }
}