#Blcnbanner .section-2-row .title-black {
    color: #434343 !important;
}

#Blcnbanner .what-we-do-border-style {
    height: 470px;
}

#Blcnbanner .text-above-main-title-c {
    text-transform: uppercase;
}

#Blcnbanner .main-title-sub-bc {
    font-size: 50px;
}
#Blcnbanner .why-choose-bc-sec-btn button:first-child {
    background: #fff !important;
    color: #434343 !important;
    font-weight: 500;
}

@media only screen and (min-width: 2500px) {
    #Blcnbanner .what-we-do-border-style {
        height: 355px;
    }

    #Blcnbanner .shopify-banner-content {
        padding-top: 70px !important;
    }

    #Blcnbanner .main-title-sub-bc {
        font-size: 90px;
    }

}

@media only screen and (max-width: 2499px) and (min-width: 2000px) {
    #Blcnbanner .what-we-do-border-style {
        height: 380px !important;
    }
}

@media only screen and (max-width: 2500px) and (min-width: 1921px) {
    #Blcnbanner .shopify-banner-frame {
        height: 550px !important;
    }

    #Blcnbanner .shopify-bg {
        height: 490px;
    }

    #Blcnbanner .shopify-banner-content {
        padding-top: 75px !important;
    }
}

@media only screen and (device-aspect-ratio: 1920/1080) {
    #Blcnbanner .shopify-banner-content {
        padding-top: 59px;
    }
}

@media only screen and (max-width: 1999px) and (min-width: 1900px) {
    #Blcnbanner .what-we-do-border-style {
        height: 425px;
    }

    #Blcnbanner .why-bc-sec-tt {
        font-size: 81px;
    }
}

@media (min-width: 1900px) {
    #Blcnbanner .main-title-sub-bc {
        font-size: 78px;
    }
}

@media only screen and (max-width: 1499px) and (min-width: 1280px) {
    #Blcnbanner .what-we-do-border-style {
        height: 530px !important;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (max-height: 1024px) and (min-width: 768px) and (orientation: portrait) {
    #Blcnbanner .what-we-do-border-style {
        height: 470px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    #Blcnbanner .shopify-bg {
        height: 570px;
    }

    #Blcnbanner .shopify-banner-frame {
        height: 572px;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 1024px) {
    #Blcnbanner .sc-ip-pro .col-lg-3 {
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 45px;
    }

    #Blcnbanner .what-we-do-border-style {
        height: 390px;
    }

    #Blcnbanner .sc-ip-pro-mt {
        margin-top: 0px !important;
    }

    #Blcnbanner .shopify-banner-content {
        padding-top: 70px;
    }

    #Blcnbanner .why-bc-sec-tt {
        font-size: 48px;
    }
}

@media screen and (max-width: 768px) {
    #Blcnbanner .shopify-banner-content {
        padding-top: 45px;
    }

    /*#Blcnbanner .shopify-bg{
        height: 500px;
    }
    #Blcnbanner .shopify-banner-frame{
        height: 502px;
    }*/
    #Blcnbanner .main-title-bc-sec-h {
        font-size: 50px;
    }

    #Blcnbanner .sc-ip-pro-mt {
        margin-top: 0px !important;
    }

    #Blcnbanner .main-title-sub-bc {
        font-size: 46px;
    }

    #Blcnbanner .dp-on-sm {
        display: block;
    }

    #Blcnbanner .hd-on-sm {
        display: none;
    }

}

@media screen and (min-width: 769px) {
    #Blcnbanner .dp-on-sm {
        display: none;
    }

    #Blcnbanner .hd-on-sm {
        display: block;
    }
}

@media (max-width: 767px) {
    #Blcnbanner .main-title-sub-bc {
        font-size: 40px;
    }

    #Blcnbanner .what-we-do-border-style.what-we-do-border-style {
        height: auto;
    }
}

@media only screen and (max-width: 600px) and (min-width: 540px) {
    #Blcnbanner .what-we-do-border-style {
        height: 360px;
    }

    #Blcnbanner .main-title-bc-sec-h {
        font-size: 36px !important;
    }

    #Blcnbanner .shopify-bg {
        height: 560px;
    }

    #Blcnbanner .shopify-banner-frame {
        height: 560px;
    }

    #Blcnbanner .main-title-sub-bc {
        font-size: 33px;
    }
}

@media screen and (max-width: 479px) {
    #Blcnbanner .shopify-banner-content {
        padding-top: 40px;
    }

    #Blcnbanner .shopify-banner-frame {
        height: 714px;
    }

    #Blcnbanner .shopify-bg {
        height: 712px;
    }
}

@media (max-width: 375px) {
    #Blcnbanner .what-we-do-border-style.what-we-do-border-style {
        height: auto;
    }

    #Blcnbanner .main-title-bc-sec-h {
        font-size: 36px !important;
    }

    #Blcnbanner .main-title-sub-bc {
        font-size: 33px;
    }
}

@media screen and (max-width: 320px) {
    #Blcnbanner .shopify-banner-frame {
        height: 818px;
    }

    #Blcnbanner .shopify-bg {
        height: 815px;
    }

    #Blcnbanner .what-we-do-border-style.what-we-do-border-style {
        height: auto;
    }
}

#Blcnbanner .why-choose-bc-sec {
    background-image: url('/images/blockchain/Vector.svg');
    background-repeat: no-repeat;
    background-position: top left;
    padding: 100px 15px;
}

#Blcnbanner .why-choose-bc-sec-btn button:first-child {
    background: #fff;
    color: #434343 !important;
}

#Blcnbanner .why-choose-bc-sec-btn button:nth-child(2) {
    background: #FF6B00 !important;
}

#Blcnbanner .why-choose-bc-sec-btn .form-btn-arrowbc-sec {
    border: solid #FFFFFF;
    border-width: 0 3px 3px 0;
}

#Blcnbanner .shopify-sec-3-content {
    margin-top: 70px;
}