
#Dbdevbanner .section-2-row .title-black {
    color: #434343 !important;
}

#Dbdevbanner .what-we-do-border-style {
    height: 325px;
}

#Dbdevbanner .text-above-main-title-c {
    text-transform: uppercase;
}

#Dbdevbanner .main-title-sub-bc {
    font-size: 50px;
}

#Dbdevbanner .ready-to-get-sec {
    background-image: url(/images/wordpress/wp-slider.svg);
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
}

#Dbdevbanner .full-cycle-sec {
    background-image: url(/images/database/full-cycle-1.svg);
    background-repeat: no-repeat;
    background-position: top right;
    padding: 40px 15px;
    border-bottom-left-radius: 70px;
}

#Dbdevbanner .full-cycle-sec-par {
    font-weight: bold;
    font-size: 21px !important;
    color: #fff;
    line-height: 35px;
}

#Dbdevbanner .sw-service-dev-sub p {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #434343;
}

#Dbdevbanner .ui-dev-ico.min-height-auto {
    min-height: auto;
}
@media(max-width:290px){
    .full-cycle-sec , .db_contact , .db_footer , .sw-service-dev-sub , .db_sec3_head{
        width: 350px !important;
    }
    
}

@media only screen and (min-width: 2500px) {
    #Dbdevbanner .what-we-do-border-style {
        height: 250px;
    }

    #Dbdevbanner .shopify-banner-content {
        padding-top: 70px !important;
    }

    #Dbdevbanner .main-title-sub-bc {
        font-size: 90px;
    }

    #Dbdevbanner .shopify-banner-frame {
        height: 555px;
    }

    #Dbdevbanner .shopify-bg {
        height: 545px;
    }

}

@media only screen and (max-width: 2499px) and (min-width: 2000px) {
    #Dbdevbanner .what-we-do-border-style {
        height: 250px !important;
    }
}

@media only screen and (max-width: 2500px) and (min-width: 1921px) {
    #Dbdevbanner .shopify-banner-frame {
        height: 500px !important;
    }

    #Dbdevbanner .shopify-bg {
        height: 495px;
    }

    #Dbdevbanner .shopify-banner-content {
        padding-top: 75px !important;
    }
}

@media only screen and (device-aspect-ratio: 1920/1080) {
    #Dbdevbanner .shopify-banner-content {
        padding-top: 59px;
    }
}

@media only screen and (max-width: 1999px) and (min-width: 1900px) {
    #Dbdevbanner .what-we-do-border-style {
        height: 285px;
    }

    #Dbdevbanner .why-bc-sec-tt {
        font-size: 81px;
    }
}

@media only screen and (max-width: 1920px) and (min-width: 1441px) {
    #Dbdevbanner .contact-db-ovrlp .contact-db-ovrlp-btn {
        width: 320px;
    }
}

@media (min-width: 1900px) {
    #Dbdevbanner .main-title-sub-bc {
        font-size: 78px;
    }
}

@media only screen and (max-width: 1499px) and (min-width: 1280px) {
    #Dbdevbanner .what-we-do-border-style {
        height: 300px;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (max-height: 1024px) and (min-width: 768px) and (orientation: portrait) {
    #Dbdevbanner .what-we-do-border-style {
        height: 270px;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 1024px) {
    #Dbdevbanner .sc-ip-pro .col-lg-3 {
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 45px;
    }

    #Dbdevbanner .what-we-do-border-style {
        height: 235px;
    }

    #Dbdevbanner .shopify-banner-content {
        padding-top: 70px;
    }

    #Dbdevbanner .why-bc-sec-tt {
        font-size: 48px;
    }

    #Dbdevbanner .sc-ip-pro-mt {
        margin-top: 0px !important;
    }

}

/* kindle Fire HDX*/
@media only screen and (max-width: 991px) and (min-width: 800px) {
    #Dbdevbanner .shopify-banner-content {
        padding-top: 45px;
    }

    #Dbdevbanner .what-we-do-border-style {
        height: 275px !important;
    }

    #Dbdevbanner .sc-ip-pro-mt {
        margin-top: 0px !important;
    }

    #Dbdevbanner .full-cycle-sec-par-contact,
    #Dbdevbanner .full-cycle-sec-par {
        text-align: center;
    }
}

@media screen and (min-width: 769px) {
    #Dbdevbanner .dp-on-sm {
        display: none;
    }

    #Dbdevbanner .hd-on-sm {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    #Dbdevbanner .shopify-banner-content {
        padding-top: 45px;
    }

    #Dbdevbanner .shopify-bg {
        height: 460px;
    }

    #Dbdevbanner .shopify-banner-frame {
        height: 463px;
    }

    #Dbdevbanner .main-title-bc-sec-h {
        font-size: 50px;
    }

    #Dbdevbanner .sc-ip-pro-mt {
        margin-top: 0px !important;
    }

    #Dbdevbanner .main-title-sub-bc {
        font-size: 46px;
    }

    #Dbdevbanner .dp-on-sm {
        display: block;
    }

    #Dbdevbanner .hd-on-sm {
        display: none;
    }

    #Dbdevbanner .full-cycle-sec-par-contact,
    #Dbdevbanner .full-cycle-sec-par {
        text-align: center;
    }

}

@media (max-width: 767px) {
    #Dbdevbanner .main-title-sub-bc {
        font-size: 40px;
    }

    #Dbdevbanner .contact-db-ovrlp .contact-db-ovrlp-btn {
        width: 225px;
    }
    .DatabaseAndDev .form-button{
        padding-left: 23px!important;
    }
}

@media (min-width: 1024px) {
    #Dbdevbanner .sc-ip-pro .col-lg-4 {
        margin-bottom: 45px;
    }
}

@media only screen and (max-width: 600px) and (min-width: 540px) {
    #Dbdevbanner .what-we-do-border-style {
        height: 325px;
    }

    #Dbdevbanner .main-title-bc-sec-h {
        font-size: 36px !important;
    }

    #Dbdevbanner .shopify-bg {
        height: 440px;
    }

    #Dbdevbanner .shopify-banner-frame {
        height: 442px;
    }

    #Dbdevbanner .main-title-sub-bc {
        font-size: 33px;
    }
}

@media screen and (max-width: 479px) {
    #Dbdevbanner .shopify-banner-content {
        padding-top: 40px;
    }

    #Dbdevbanner .what-we-do-border-style {
        height: 235px;
    }

    #Dbdevbanner .shopify-banner-frame {
        height: 540px;
    }

    #Dbdevbanner .shopify-bg {
        height: 528px;
    }
}

@media (max-width: 375px) {
    #Dbdevbanner .what-we-do-border-style.what-we-do-border-style {
        height: 305px;
    }

    #Dbdevbanner .main-title-bc-sec-h {
        font-size: 36px !important;
    }

    #Dbdevbanner .main-title-sub-bc {
        font-size: 33px;
    }
}

@media screen and (max-width: 320px) {
    #Dbdevbanner .shopify-banner-frame {
        height: 588px;
    }

    #Dbdevbanner .shopify-bg {
        height: 585px;
    }

    #Dbdevbanner .what-we-do-border-style.what-we-do-border-style {
        height: 300px;
    }
}

@media (max-width: 280px) {
    #Dbdevbanner .main-title {
        font-size: 32px !important;
    }

    #Dbdevbanner .shopify-banner-frame {
        height: 670px !important;
    }

    #Dbdevbanner .shopify-bg {
        height: 665px !important;
    }
}

#Dbdevbanner .why-choose-bc-sec {
    background-image: url('/images/blockchain/Vector.svg');
    background-repeat: no-repeat;
    background-position: top left;
    padding: 100px 15px;
}

#Dbdevbanner .why-choose-bc-sec-btn button:first-child {
    background: #fff !important;
    color: #434343 !important;
}

#Dbdevbanner .why-choose-bc-sec-btn button:nth-child(2) {
    background: #FF6B00 !important;
}

#Dbdevbanner .why-choose-bc-sec-btn .form-btn-arrowbc-sec {
    border: solid #FFFFFF;
    border-width: 0 3px 3px 0;
}

#Dbdevbanner .shopify-sec-3-content {
    margin-top: 70px;
}